---
layout: default
people:
- bio: I grew up in the church, was baptized as a baby and have been learning to live
    with the Lord ever since. I met and married Megan while attending University of
    Florida. Together we moved to St. Louis while I attended Concorida seminary. We
    now have three beautiful kids and live in the SoDo area. We founded The Cross
    Orlando with a few friends in the fall of 2010. For us it's been a lesson in the
    generosity of God, the fact that he's drawn such a unique group of people together
    into a congregation that fits us so well feels like an extreme demonstration of
    his kindness. I'm proud to pastor such a great family and always hope to be able
    to authentically say, with St.Paul, follow me as I follow Christ.
  email: ben@thehoyers.com
  image: assets/ben.jpg
  info: Ben is our Pastor.
  name: Ben
- bio: Growing up with a sweet relationship with the Lord, I don't remember a time
    without Him.  My family is full of generations of faithfulness and I'm proud to
    carry that legacy into my own family.  In 2004 I graduated from Bethany College
    of Missions in Minneapolis to pursue a career in ministry.  Since then, the Lord
    brought me a North Carolina native husband Mike and two kids, Moses and Elie.  Our
    family has taken a fabulous journey from a home in Raleigh, North Carolina to
    three years in Minnesota for Mike to finish his degree in Graphic Design and then
    finally to a wonderful home here in Orlando.  We love our community at The Cross
    and enjoy watching our kids participate in a place that loves and cares for them.  I
    find joy in teaching the children what it looks like to have faith in a God that
    we cannot see and to pass the stories of our people from Scripture on to them
    is something that can never be replaced.  I am excited to see how their lives
    unfold with this sweet relationship that I see growing inside each of them.
  email: caroleforrest31@gmail.com
  image: assets/carole.jpg
  info: Carole cares for our kids and some of our operational details.
  name: Carole
- bio: I believe that Christ Jesus is the hope of the world. I love seeing him bring
    hope and harmony to discordant lives and communities and am so very grateful that
    he has done so time and again in my own life. I also believe that his Church is
    the primary steward of his story and that The Cross plays an important role in
    the story of Orlando. Jennie and I moved here in 2005 after our first three years
    of marriage to attend seminary and decided to stay when we graduated. We have
    been involved with The Cross in some capacity since the beginning and are now
    blessed to attend regularly with our foster children whom we love dearly.
  email: phil@polisinstitute.org
  image: assets/phil.jpg
  info: Phil is one of our trustees. Guardians of the church's trust, they provide
    support and accountability to Ben; pray for the church family; and help in discerning
    the direction of the congregation.
  name: Phil
- bio: I spent most of my growing up years in Orlando, never imagining a life here
    as an adult. My parents brought me up in the faith and I feel thankful to see
    Christ as a constant in my life's story. I started coming to The Cross in 2012.
    I had moved back home to go to grad school for speech-language pathology and was
    reluctantly getting used to the idea of being in Orlando again. I first decided
    to attend because it seemed like a peaceful place to be reminded of the gospel
    every week. Friendships developed, I met my husband Eliel, and we found ourselves
    with a growing commitment to The Cross community and its place in our city.  I'm
    so grateful that, despite myself, God would direct my path back to Orlando and
    allow us to build a life here alongside such a great church family.
  email: sarah.tilley22@gmail.com
  image: "/uploads/2017/07/25/IMG_2720-1.JPG"
  info: Sarah is one of our trustees. Guardians of the church's trust, they provide
    support and accountability to the Pastor; pray for the church family; and help
    in discerning the direction of the congregation.
  name: Sarah
- bio: I grew up on the gulf coast of Florida and went to University of Florida where
    I met my wife Michelle.  We were married in 2002 and have been in Orlando ever
    since.  Together we have a small counseling practice in downtown.  Having grown
    up in the church, Jesus has been a central piece of my life for almost all I can
    remember.  Faith and life have not always been easy roads in many ways, but I
    believe Jesus is the source of  hope and life we were made for.  We came to The
    Cross in 2013, and have found ourselves in deep friendships here, hoping to keep
    finding Jesus alongside folks who are doing the same.
  email: aaron@solacecounseling.org
  image: "/uploads/2017/08/02/aaronmoore.jpg"
  info: Aaron is one of our trustees. Guardians of the church's trust, they provide
    support and accountability to Ben; pray for the church family; and help in discerning
    the direction of the congregation.
  name: Aaron
title: People
---

<h1>{{ page.title }}</h1>

<div class="row small-up-1 medium-up-2">
  {% for person in page.people %}
  <div class="column">
    <article class="card">
      {% if person.image %}
      <img src="{{ site.url }}/{{ person.image }}" />
      {% endif %}
      <h2>{{ person.name }}{% if person.email %} <a href="mailto:{{ person.email }}" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>{% endif %}</h2>
      <blockquote>{{ person.info }}</blockquote>
      <p>{{ person.bio }}</p>
    </article>
  </div>
  {% endfor %}
</div>
