{% assign sorted_posts = site.data.posts.items | sort: "created" %}
<div class="row small-up-1 medium-up-2">
  {% for post in sorted_posts %}
  <div class="column">
    <article class="card">
      <time datetime="{{ post.pubDate | time_tag }}">{{ post.pubDate | date: "%b %-d, %Y" }}</time>
      <h3>{{ post.meta.name }}</h3>
      <img src="{{ post.thumbnail }}" />
      <h2>{{ post.title }}</h2>
      <span class="author">by {{ post.meta.author }}</span>
      <p>{{ post.description }}</p>
      <span class="read-more"><a href="{{ post.link }}" class="button">Read More</a></span>
    </article>
  </div>
  {% endfor %}
</div>
