<div id="footer">
  <div class="column row collapse">
    <div class="large-7 columns">
      <p>All Content, Images and Website Material Copyright {{ site.time | date: '%Y' }} the Cross Orlando.</p>
    </div>
    <div class="large-5 columns">
      <p class="float-right"><a href="/sitemap.xml">Sitemap</a> | <a href="/terms-of-use">Terms of Use</a> | <a href="/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
