<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% if page.meta.title %}{{ page.meta.title }}{% else if page.title %}{{ page.title }}{% endif %}{% if site.title %} | {{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="the Cross Orlando - Blog" href="/feed.xml" />
  <meta name="revisit-after" content="1 day" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
</head>
