<nav id="main-menu" class="navbar navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-sm-block d-md-none fs-5" href="/">
      <img class="d-inline-block align-middle me-2" width="60" height="60" src="/assets/logo.svg">
      The Cross Orlando
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <a class="nav-link" href="/people"><span>People.</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/work"><span>Work.</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gatherings"><span>Gatherings.</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/care"><span>Care.</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/values"><span>Values.</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
