<div class="row">
  {% for section in page.sections %}
  <div class="col col-lg-6">
    <article class="card">
      {% if section.image %}
      <img src="{{ site.url }}/{{ section.image }}" />
      {% endif %}
      <h2>
        {{ section.title }}
        {% if section.link %} <a href="{{ section.link }}" target="_blank"><i class="fa-regular fa-heart" aria-hidden="true"></i></a>{% endif %}
        {% if section.email %} <a href="mailto:{{ section.email }}" target="_blank"><i class="fa-regular fa-envelope" aria-hidden="true"></i></a>{% endif %}
      </h2>
      {% if section.info %}<blockquote>{{ section.info }}</blockquote>{% endif %}
      <p>{{ section.body | markdownify }}</p>
    </article>
  </div>
  {% endfor %}
</div>
