<img class="d-none d-lg-block w-75" src="/assets/logo.svg" alt="theCross logo">
<div{% if page.url != '/' %} class="d-none d-lg-block"{% endif %}>
  <h4>Story</h4>
  <p>At the center of our people has always been the story.</p>
  <a class="read-more" href="/values">Read More</a>
</div>
<div{% if page.url != '/' %} class="d-none d-lg-block"{% endif %}>
  <h4>Peace</h4>
  <p>The peace of God is something that confounds the understanding of the world, it comes in relationship with him.</p>
  <a class="read-more" href="/values">Read More</a>
</div>
<div{% if page.url != '/' %} class="d-none d-lg-block"{% endif %}>
  <h4>Lineage</h4>
  <p>The story didn’t start with us. As obvious as that may be, it’s easy to forget.</p>
  <a class="read-more" href="/values">Read More</a>
</div>
<div{% if page.url != '/' %} class="d-none d-lg-block"{% endif %}>
  <h4>Life</h4>
  <p>Most of us don’t know exactly how we ended up here, but we’ve decided that it was no accident.</p>
  <a class="read-more" href="/values">Read More</a>
</div>
<ul id="secondary-menu" class="menu vertical">
  <li><a href="/messages">Messages</a></li>
  <li><a href="https://www.fellowshiponegiving.com/dl/?uid=cent780187&campus=ORLANDO" target="_blank">Give</a></li>
  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd51TILZpya_XXUN-ksyprIXAsvWjRZOaA3mz00Rc9q1c6ZcA/viewform" target="_blank">Annual Church Form</a></li>
  <li><a href="http://thecrossorlando.us8.list-manage.com/subscribe?u=3a86e9f463c39b4f66933ed2c&id=56951e00ab">Subscription</a></li>
  <li><a target="_blank" href="https://www.google.com/maps/place/the+Cross+Orlando/@28.5396607,-81.3958367,17z/data=!3m1!4b1!4m5!3m4!1s0x88e77bad4a41a6cf:0x7d3a5941d0e72d82!8m2!3d28.539656!4d-81.393648">Location/Parking</a></li>
  <li><a target="_blank" href="https://www.1010west.com/">1010 West Wedding & Event Space</a></li>
</ul>
