---
title: Lyrics
permalink: "/lyrics/"
layout: default
---

<script type="module" src="/js/lyrics.js"></script>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfI_au_HD9TmPjZ9U3CmWfalk0BOyl7vAzRw5d8jiR1MQEOSQ/viewform?usp=sf_link" target="_blank">Church Check In</a></p>
{% raw %}
<div v-scope v-cloak class="row no-masonry">
  <div class="col" v-if="scripture">
    <h3>This week's scripture: {{ scripture }}</h3>
  </div>
</div>
<div v-scope v-cloak class="row">
  <div class="col col-lg-6" v-for="lyric in lyrics" :key="lyric.id">
    <article class="card">
      <div class="card-body">
        <h2>{{ lyric.song }}</h2>
        <span class="author">by {{ lyric.artist }}</span>
        <p style="white-space: pre-wrap">{{ lyric.lyrics }}</p>
      </div>
    </article>
  </div>
</div>
{% endraw %}
