<!doctype html>
<html lang="en" dir="ltr">

{% include head.html %}

<body class="{% if page.classes %}{{ page.classes }}{% endif %}">
  {% include header.html %}
  {% include navigation.html %}
  <div class="container">
    <div id="content" class="row align-items-start">
      <div class="col col-12 col-md-9">
        <h1>{{ page.title }}</h1>
        {{ content }}
        {% include sections.html %}
      </div>
      <div id="sidebar" class="col col-12 col-md-3">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
