---
layout: compress
---

<!doctype html>
<html lang="en" dir="ltr">

{% include "head" %}

<body class="{% if page.classes %}{{ page.classes }}{% endif %}">
  {% include "header" %}
  {% include "navigation" %}
  <div class="container">
    <div id="content" class="row align-items-start">
      <div class="col col-12 col-md-9">
        <h1>{{ page.title }}</h1>
        {{ content }}
        {% include "sections" %}
      </div>
      <div id="sidebar" class="col col-12 col-md-3">
        {% include "sidebar" %}
      </div>
    </div>
  </div>
  {% include "footer" %}
</body>
</html>
