<!doctype html>
<html lang="en" dir="ltr">

{% include "head" %}

<body class="{% if page.classes %}{{ page.classes }}{% endif %}">
  <a class="skip-link" href="#main">Skip to content</a>
  {% include "header" %}
  {% include "navigation" %}
  <div class="container">
    <div id="content" class="row align-items-start">
      <main id="main" tabindex="-1" class="col col-12 col-md-9">
        {% if title %}<h1>{{ title }}</h1>{% endif %}
        {{ content }}
        {% include "sections" %}
      </main>
      <aside id="sidebar" class="col col-12 col-md-3">
        {% include "sidebar" %}
      </aside>
    </div>
  </div>
  {% include "footer" %}
</body>
</html>
